[flake8]
ignore = WT291 ET128 W503 ET127
use-flake8-tabs = true
max-line-length = 100
# TODO(review __init.py):
# https://stackoverflow.com/questions/31079047/python-pep8-class-in-init-imported-but-not-used 
exclude = poc __init__.py
