
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ system }} Ecosystem</title>
       	<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <style type="text/css">
		    .tooltip {
		        position: absolute;
		        display: none;
		        width: auto;
		        height: auto;
		        background: none repeat scroll 0 0 white;
		        border: 0 none;
		        border-radius: 8px 8px 8px 8px;
		        box-shadow: -3px 3px 15px #888888;
		        color: black;
		        font: 12px sans-serif;
		        padding: 5px;
		        text-align: left;
		        opacity: 0.95;
		    }        	
        </style>
    </head>
    <body>
		<div id="treemap"></div>
    </body>
</html> 
<script type="text/javascript">	
	function mapperPaths(paths) {
		var mapperList = [];
		for(var k in paths) { 
			mapperList.push(k);
		}

		for(var k in paths) { 
			var shortestPath = k
			for(var i = 0; i < mapperList.length; i++)
			{
				if(k.includes(mapperList[i])) {
					if(shortestPath.length > mapperList[i].length) {
						shortestPath = mapperList[i]
					}
				}
			}
			paths[k] = shortestPath	
		}
	}

	var numOfOperations = 0;
	var numOfLoc = 0;
	var numOfRelations = 0;
	var numOfCoverage = 0;
	var totalOfRelations = 0;
	var withoutRelations = 0;
	var infoByPath = [];

	function addParents(relations, paths) {
	   	for(var i = 0; i < relations.length; i++) {
	   		numOfOperations += relations[i]["operations"];
	   		numOfLoc += relations[i]["nloc"];
	   		numOfRelations += relations[i]["count"];
	   		totalOfRelations += relations[i]["total"];
	   		numOfCoverage += relations[i]["coverage"];
	   		var parentDir = paths[relations[i]["path"]];
	   		relations[i]["parentDir"] = parentDir;
	   		if(!infoByPath[parentDir]) {
	   			infoByPath[parentDir] = [];
	   			infoByPath[parentDir]["operations"] = 0;
	   			infoByPath[parentDir]["nloc"] = 0;
	   			infoByPath[parentDir]["relations"] = 0;
	   			infoByPath[parentDir]["total"] = 0;
	   			infoByPath[parentDir]["coverage"] = 0;
	   			infoByPath[parentDir]["without"] = 0;
	   			infoByPath[parentDir]["dependents"] = 0;
	   		}
	   		infoByPath[parentDir]["operations"]  += relations[i]["operations"];
	   		infoByPath[parentDir]["nloc"]  += relations[i]["nloc"];
	   		infoByPath[parentDir]["relations"] += relations[i]["count"];
	   		infoByPath[parentDir]["total"] += relations[i]["total"];
	   		infoByPath[parentDir]["coverage"] += relations[i]["coverage"];
	   		if(relations[i]["count"] == 0) {
	   			infoByPath[parentDir]["without"] += 1;
	   			withoutRelations += 1;
	   		}
	   	}
	}

	function removeSubdirs(paths) {
	   	parents = [];

	  	for(k in paths) {
	 		if(k === paths[k])
	 			parents[k] = k.length; 		
	  	}

	  	return parents;
	}

	function joinPaths(dependentsByPackage) {
		var result = {};
		for(var k in dependentsByPackage) { 
			result[k] = {};
			for(v in dependentsByPackage[k]) {
				var parentDir = paths[v];
				result[k][parentDir] = dependentsByPackage[k][v];
	  		}
		}
		return result;
	}

	function calcDependentsByPackage(dependents) {
		var dependents = joinPaths(dependentsByPackage);
		for(var k in dependents) { 
			for(v in dependents[k]) {
				var parentDir = paths[v];
	   			infoByPath[parentDir]["dependents"] += 1;
	  		}
		}
	}

	var relations = {{ relations|safe }}
	var numOfSourceFiles = relations.length;
	// set the dimensions and margins of the graph
	var margin = {top: 30, right: 10, bottom: 10, left: 10},
 	width = getWidth() - margin.left - margin.right - 20;
  	height = getHeight() - margin.top - margin.bottom - 20;

	// append the svg object to the body of the page
	var svg = d3.select("#treemap")
				.append("svg")
	  			.attr("width", width + margin.left + margin.right)
	  			.attr("height", height + margin.top + margin.bottom)
				.append("g")
	  			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var paths = {{ paths|safe }}
	mapperPaths(paths);
	addParents(relations, paths);
	var parents = removeSubdirs(paths);
	var dependentsByPackage = {{dependents_by_package|safe}};
	calcDependentsByPackage(dependentsByPackage);

    for(var k in parents) { 
        var info = {
            "id": k,
            "parentDir": "{{ system }}"
        };
        relations.unshift(info);
    }	  		

	relations.unshift({"id":"{{ system }}"}); 

	// stratify the data: reformatting for d3.js
  	var root = d3.stratify()
				.id(function(d) { return d.id; })
			    .parentId(function(d) { return d.parentDir; })
			    (relations);

	root.sort(function(a, b) {return b.total - a.total;})

	root.sum(function(d) {
		return d.operations;
	})   // Compute the numeric value for each entity
		.sort(function(a, b) {return b.value - a.value;})
	
	var increment = 0;
	root.children.forEach(function(d) {
		if(d.value < d.id.length)
		{
			var value = d.id.length / d.children.length;
			if(value > increment)
				increment = value;
		}
	});

	if(increment != 0) {
		root.sum(function(d) { 
			return d.operations + increment;
		})	
	}

	// Then d3.treemap computes the position of each element of the hierarchy
	// The coordinates are added to the root object above
	var treemap = d3.treemap()
		.size([width, height])
    	.paddingTop(22)
    	.paddingRight(6)
    	.paddingInner(1)      // Padding between each rectangle 
	    //.padding(1)
	    //.paddingOuter(10)
	    .round(true)  
		(root.sort(function(a, b) {return b.data.total - a.data.total;}))

	//treemap.nodes().sort(function(a, b) {return b.value - a.value;});

	var minTotal = d3.min(root.leaves(), function(d) {
		if(d.data.total != 0)
			return d.data.total;
	});

	var maxTotal = d3.max(root.leaves(), function(d) {
		return d.data.total;
	});

	var heatmap = d3.scaleLinear()
		.domain([0, minTotal, maxTotal])
	    .range(["gray", "blue", "red"])

	var tip = d3.select("#treemap")
		.append("div")
        .attr("class", "tooltip");

    function componentTooltipMouseMove(d) {
    	if(d3.event.pageX > 7*width/8)
    		tip.style("left", (d3.event.pageX - 6*d.data.fullpath.length) + "px");
    	else
        	tip.style("left", d3.event.pageX + 10 + "px");
        tip.style("top", d3.event.pageY - 20 + "px");
        tip.style("display", "inline-block");
        tip.html("<center><b>" + d.data.source + "</b></center>"
        			+ d.data.fullpath
        			+ "<br>referenceable elements: " + d.data.operations
        			+ "<br>coverage: " + d.data.coverage + " ("
        			+ Math.round(d.data.coverage*100/d.data.operations) + "%)"
        			+ "<br>relationships (distict): " + d.data.count         			
        			+ "<br>relationships (total): " + d.data.total         			
        			+ "<br>nloc: " + d.data.nloc);
		               	
    }
    // console.log(root.leaves());
    // var leaves = root.leaves().sort(function(a, b) {return b.data.count - a.data.count;});
    // console.log(leaves);
	// use this information to add rectangles:
	svg.selectAll("rect")
		.data(root.leaves()) //.sort(function(a, b) {return b.data.count - a.data.count;}))
		.enter()
		.append("g")
			.append("a")
				.attr("xlink:href", function(d) {
					if(d.data.url)
						return d.data.url; 
				})	
				.attr("target", "_blank")	
				.append("rect")
					.attr('x', function(d) { return d.x0; })
					.attr('y', function(d) { return d.y0; })
					.attr('width', function(d) { return d.x1 - d.x0; })
					.attr('height', function(d) { return d.y1 - d.y0; })
					.style("fill", function(d) {
						return heatmap(d.data.total);
					})
		            .on("mousemove", function(d) {
		            	componentTooltipMouseMove(d);
		             })
		            .on("mouseout", function(d) {
		                tip.style("display", "none");
		            });

	// and to add the text labels
	svg.selectAll("g")
		.append("text")
			.attr("x", function(d){ return d.x0+2})
			.attr("y", function(d){ return d.y0+15})
			.attr("font", "10px sans-serif")
			.attr("fill", "white")
			.text(function(d) { 
				if(d.data.total > minTotal)
					return d.data.source; 
			})
			.on("click", function(d) {window.open(d.data.url);})
			.on("mousemove", function(d) {
				componentTooltipMouseMove(d);
		    })
            .on("mouseout", function(d) {
                tip.style("display", "none");
            });

    var dependentsCount = {{dependents_count}};

	svg.append("text")
		  .attr("x", 0)
		  .attr("y", 0)
		  .text("{{ system }} Ecosystem")
		  .attr("font-size", "24px")
		  .attr("fill", "black")
		  .style("font-weight", "bold") 
		  .on("mousemove", function (d) {
                tip.style("left", d3.event.pageX + 10 + "px");
                tip.style("top", d3.event.pageY - 20 + "px");
                tip.style("display", "inline-block");
                tip.html("<center><b>{{system}}</b></center>"
                			+ "total of source files: " + numOfSourceFiles
                			+ "<br>source files without relationships: " + withoutRelations
                			+ "<br>total of relationships (distict): " + numOfRelations
                			+ "<br>total of relationships: " + totalOfRelations
                			+ "<br>total of referenceable elements: " + numOfOperations
                			+ "<br>total of coverage: " + numOfCoverage + " ("
		                	+ Math.round(numOfCoverage*100/numOfOperations) + "%)"
		                	+ "<br>total of dependents: " + dependentsCount
                			+ "<br>total of loc: " + numOfLoc);
            })
            .on("mouseout", function (d) {
                tip.style("display", "none");
            });

	svg.selectAll("titles")
		.data(root.descendants().filter(function(d){return d.depth==1}))
		.enter()
		.append("text")
		  .attr("x", function(d){ return d.x0})
		  .attr("y", function(d){ return d.y0+17})
		  .text(function(d){ return d.data.id })
		  .attr("font-size", "17px")
		  .attr("fill", "black")
		  .on("mousemove", function (d) {
		  		if(d3.event.pageX > 7*width/8)
            		tip.style("left", (d3.event.pageX - 6*21) + "px");
            	else
               		tip.style("left", d3.event.pageX + 10 + "px");
                tip.style("top", d3.event.pageY - 20 + "px");
                tip.style("display", "inline-block");
                tip.html("<center><b>" + d.data.id + "</b></center>"
                			+ "total of source files: " + d.children.length
                			+ "<br>source files without relationships: " + infoByPath[d.data.id]["without"]
                			+ "<br> total of relationships (distict): " + infoByPath[d.data.id]["relations"]
                			+ "<br> total of relationships: " + infoByPath[d.data.id]["total"]
                			+ "<br>total of referenceable elements: " + infoByPath[d.data.id]["operations"]
                			+ "<br>total of coverage: " + infoByPath[d.data.id]["coverage"] + " ("
		                			+ Math.round(infoByPath[d.data.id]["coverage"]*100/infoByPath[d.data.id]["operations"]) + "%)"
		                	+ "<br>total of dependents: " + infoByPath[d.data.id]["dependents"]		
                			+ "<br>total of loc: " + infoByPath[d.data.id]["nloc"]);
            })
            .on("mouseout", function (d) {
                tip.style("display", "none");
            });		  

	var blockWidth = 15;
	var blockHeight = 20;	
	var colorTicks = heatmap.ticks(); //(6);

	colorTicks.splice(0, 2);	
	colorTicks = [0, minTotal].concat(colorTicks);
	colorTicks.push(maxTotal);

	var legend = svg.selectAll(".legend")
		.data(colorTicks)
		.enter()
		.append("g")
		.attr("class", "legend")
		.attr("font-size", "14px")
		.attr("font-style", "PT Sans")
		.attr("transform", function(d, i) {
			return ("translate(" + i * blockWidth + ", 0)")
		});	    

  	legend.append("rect")
		.attr("x", width - colorTicks.length*blockWidth - blockWidth + (blockWidth/4))
		.attr("y", -15)
		.attr("width", blockWidth)
		.attr("height", blockHeight)
		.style("fill", function(d, i) {
		    return(heatmap(colorTicks[i]));
		})
		.append("title")
		.text(function(d, i) { return colorTicks[i]; });		           

  	legend.append("text")
        .attr("x", (width - colorTicks.length*blockWidth - blockWidth + (blockWidth/2)))
        .attr("y", (margin.bottom/3 + 3) + blockHeight + 7 -15)
        .text(function(d, i) {
        	if((i == 0) || (i == 1) //|| (i == 3)
        			|| (i == Math.trunc((colorTicks.length)/2))
        			|| (i == (colorTicks.length - 1)))
 				return colorTicks[i];
        })
        .style("text-anchor", "middle");

    const RELATIONS_LABEL = "Number of relationships:";
    const RELATIONS_LABEL_FONT_SIZE = 14;    

    svg.append("text")
        .attr("x", width - colorTicks.length*blockWidth - RELATIONS_LABEL.length*RELATIONS_LABEL_FONT_SIZE/2)
        .attr("y", 0)
        .text(RELATIONS_LABEL)       
        .style("font-weight", "bolder")
        .attr("font-size", RELATIONS_LABEL_FONT_SIZE + "px");  

</script>
