<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ source_file }}</title>
        <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <style type="text/css">
            .tooltip {
                position: absolute;
                display: none;
                width: auto;
                height: auto;
                background: none repeat scroll 0 0 white;
                border: 0 none;
                border-radius: 8px 8px 8px 8px;
                box-shadow: -3px 3px 15px #888888;
                color: black;
                font: 12px sans-serif;
                padding: 5px;
                text-align: left;
                opacity: 0.95;
            }  

            .container {
                width: 100%;
                height: 100%;
            }

            .left {
               float: left;
            }    

            .left_container {
                position: absolute;
            } 

            select {
              background: #fff;
            }            
       
        </style>        
    </head>
    <body>
        <div class="container">
            <div class="left_container">
                <div class="left">
                    <div id="component_name"></div>
                </div>
                <div class="left">
                    <div id="operations"></div> 
                </div>
            </div>
            <div id="treemap"></div>
        </div>
		
    </body>
</html>

<script type="text/javascript">
	var relations = {{ relations|safe }};
    var numOfSourceFiles = relations.length;
    
    var numOfLoc = 0;
    var infoBySystem = [];
    var maxCallsBySystem = 0;
    var numOfDistinctRelations = 0;
    var totalOfRelations = 0;
    for(var i = 0; i < relations.length; i++) {
        numOfLoc += relations[i]["nloc"];
        var system = relations[i]["system"]
        if(!infoBySystem[system]) {
            infoBySystem[system] = [];
            infoBySystem[system]["ncalls"] = 0;
            infoBySystem[system]["nloc"] = 0;
        }
        infoBySystem[system]["ncalls"] += relations[i]["ncalls"];
        infoBySystem[system]["nloc"] += relations[i]["nloc"];
        numOfDistinctRelations += relations[i]["count"];
        totalOfRelations += relations[i]["ncalls"];
        if(infoBySystem[system]["ncalls"] > maxCallsBySystem)
            maxCallsBySystem = infoBySystem[system]["ncalls"];
    }

    var from_systems = {{ from_systems|safe }}
    var numOfSystems = Object.keys(from_systems).length;

    // set the dimensions and margins of the graph
    var margin = {top: 20, right: 10, bottom: 10, left: 10},
    width = getWidth() - margin.left - margin.right - 20,
    height = getHeight() - margin.top - margin.bottom - 20;

    // append the svg object to the body of the page
    var svg = d3.select("#treemap")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    for(var k in from_systems) { 
        var info = {
            "id": from_systems[k],
            "from": "",
            "code": "",
            "count": 0,
            "system": "root"
        };
        relations.unshift(info)   
    }

    relations.unshift({"id":"root", "from":"",
                    "code":"", "count":0, "system":"",})     

    // stratify the data: reformatting for d3.js
    var root = d3.stratify()
                .id(function(d) { return d.id; })   // Name of the entity (column name is name in csv)
                .parentId(function(d) { return d.system; })   // Name of the parent (column name is parent in csv)
                (relations);

    var minNloc = d3.min(relations, function(d) {
        return d.nloc;
    });

    var maxNloc = d3.max(relations, function(d) {
        return d.nloc;
    });               
    
    //const NLOC_MIN_OFFSET = 3;
    //const NLOC_MAX_OFFSET = 300;
    root.sum(function(d) { 
        // if(d.ncalls <= 3)
        //      return 3; //Math.round(Math.sqrt(minNloc));
        // // if(d.nloc > maxNloc/2)
        // //     return NLOC_MAX_OFFSET;
        // else
        //     return d.ncalls; //Math.round(Math.log2(d.nloc)); //TODO
        return d.ncalls;
    })
    .sort(function(a, b) {return b.value - a.value;});   // Compute the numeric value for each entity

    root.sum(function(d) { 
        // if(d.ncalls <= 3)
        //      return 3; //Math.round(Math.sqrt(minNloc));
        // // if(d.nloc > maxNloc/2)
        // //     return NLOC_MAX_OFFSET;
        // else
        //     return d.ncalls; //Math.round(Math.log2(d.nloc)); //TODO
        return d.count;
    })        

    // Then d3.treemap computes the position of each element of the hierarchy
    // The coordinates are added to the root object above
    d3.treemap()
    .size([width, height])
    .paddingTop(20)
    .paddingRight(4)
    .paddingInner(1)      // Padding between each rectangle 
    //.paddingOuter(5)
    //.padding(1) 
    .round(true)
    .tile(d3.treemapSquarify.ratio(1))       
    (root.sort(function(a, b) {return b.data.ncalls - a.data.ncalls;}))

    var minCalls = d3.min(root.leaves(), function(d) {
        return d.data.ncalls;
    });

    var maxCalls = d3.max(root.leaves(), function(d) {
        return d.data.ncalls;
    });    

    var numOfUniqueValues = d3.map(root.leaves(), function(d) {
        return d.data.count;
    }).keys().length 

    var heatmap;

    if(numOfUniqueValues <= 2) {
        heatmap = d3.scaleLinear()
            .domain([minCalls, maxCalls])
            .range(["blue", "red"])
    }
    else {
        heatmap = d3.scaleLinear()
            .domain([minCalls, Math.trunc((minCalls + maxCalls)/2), maxCalls])
            .range(["blue", "green", "red"])    
    }

    var tip = d3.select("#treemap")
        .append("div")
        .attr("class", "tooltip");    

    function componentTooltipMouseMove(d) {
        // TODO: review tooltip side to show
        if(d3.event.pageX > width*0.75) {
            tip.style("left", (d3.event.pageX - 6*23) + "px");
            if(d3.event.pageY > height/2) {
                tip.style("top", d3.event.pageY - 90 + "px");
            }
            else {
                tip.style("top", d3.event.pageY - 20 + "px");
            }
        }
        else {
            tip.style("left", d3.event.pageX + 10 + "px");
            tip.style("top", d3.event.pageY - 20 + "px");
        }
        tip.style("display", "inline-block");
        tip.html("<strong>" + d.data.fullpath + "</strong>"
                    + "<br>referenceable elements (distinct): " + d.data.count
                    + "<br>total of relationships: " + d.data.ncalls
                    + "<br>nloc: " + d.data.nloc);
    }

    // use this information to add rectangles:
    svg.selectAll("rect")
    .data(root.leaves())    
    .enter()
    .append("g")
        .append("a")
            .attr("xlink:href", function(d) {
                return d.data.url;})    
            .attr("target", "_blank")
            .append("rect")
                .attr('x', function (d) { return d.x0; })
                .attr('y', function (d) { return d.y0; })
                .attr('width', function (d) { return d.x1 - d.x0; })
                .attr('height', function (d) { return d.y1 - d.y0; })
                // .style("stroke", "black")
                .style("fill", function(d) {
                    return heatmap(d.data.ncalls);
                })
                // .append("title")
                // .text(function(d) { return d.data.fullpath; });
                .on("mousemove", function (d) {
                    componentTooltipMouseMove(d);
                })
                .on("mouseout", function (d) {
                    tip.style("display", "none");
                });             

    // and to add the text labels
    svg.selectAll("g")
        .append("text") 
            .attr("x", function(d) {return d.x0+2;})
            .attr("y", function(d) {return d.y0+15;})
            .attr("font", "10px sans-serif")
            .attr("fill", "white")
            .text(function(d) { 
                if(d.data.ncalls > minCalls)
                    return d.data.from; 
            })  
            .on("click", function(d) {window.open(d.data.url);})
            .on("mousemove", function(d) {
                componentTooltipMouseMove(d);
            })
            .on("mouseout", function (d) {
                tip.style("display", "none");
            });

    var dependentsCoverage = {{ dependents_coverage|safe }};

    var operationsCounter = {};
    for(k in dependentsCoverage) {
        for(v in dependentsCoverage[k]) {
            if(!(v in operationsCounter)) {
                operationsCounter[v] = 0;
            }
            operationsCounter[v] += dependentsCoverage[k][v];
        }
    }

     // Add title for groups
      svg.selectAll("titles")
        .data(root.descendants().filter(function(d){return d.depth==1}))
        .enter()
        .append("text")
            .attr("x", function(d){return d.x0;})
            .attr("y", function(d){return d.y0+17;})
            .text(function(d) {
                if(infoBySystem[d.data.id]["ncalls"] > maxCalls/2)
                    return d.data.id;
                else if(infoBySystem[d.data.id]["ncalls"] <= minCalls + 1)
                    return d.data.id.substr(0, 2);
                else
                    return d.data.id.substr(0, 3);
            })
            .attr("font-size", "19px") //function(d) {
                // return (infoBySystem[d.data.id]["ncalls"]*19)/maxCallsBySystem + "px";})
            .attr("fill", "black")
            .on("mousemove", function (d) {
                // TODO: review tooltip side to show
                if(d3.event.pageX > width*0.75) {
                        // && d3.event.pageY > height/2) {
                    tip.style("left", (d3.event.pageX - 6*23) + "px");
                    tip.style("top", d3.event.pageY - 90 + "px");
                }
                else {
                    tip.style("left", d3.event.pageX + 10 + "px");
                    tip.style("top", d3.event.pageY - 20 + "px");
                }
                tip.style("display", "inline-block");
                tip.html("<center><b>" + d.data.id + "</b></center>"
                            + "total of source files: " + d.children.length
                            + "<br>referenceable elements (distinct): " + Object.keys(dependentsCoverage[d.data.id]).length 
                            + " (" + Math.round(Object.keys(dependentsCoverage[d.data.id]).length*100/operationsCount) + "%)"
                            + "<br>total of relationships: " + infoBySystem[d.data.id]["ncalls"]
                            + "<br>total of loc: " + infoBySystem[d.data.id]["nloc"]);
            })
            .on("mouseout", function (d) {
                tip.style("display", "none");
            });                    

    var operations = {{ operations|safe }};
    var operationsCount = Object.keys(operations).length;
    var coverageCount = 0;
    var componentUrl = "{{ component_url }}";
    var selectedOperation = "{{ selected_operation }}";
    var operationsDropDown = "<select onchange=\"location=this.value;\">";
    operationsDropDown += "<option value=\"" + componentUrl + "\" selected >"
                            + "" + "</option>";
    function formatFilterOperation(operation, disabled) {
        let option = operation.split(".");
        let result = ""; 
        if((option[0] == "extends") || (option[0] == "implements")) {
            result = option[0];
        }
        else {
            result = option[1];  
        }

        if(disabled) {
            return result;
        }

        return result + " (" + operationsCounter[operation] + ")";
    }

    for(const [key, value] of Object.entries(operations)) {
        let disabled = true;
        if(value == 0) {
            operationsDropDown += "<option disabled >";
        }
        else {
            operationsDropDown += "<option value=\"" + componentUrl 
                            + "?operation=" + key + "\""
            if (selectedOperation == key)
                operationsDropDown += " selected "
            operationsDropDown += ">"
            coverageCount += 1;
            disabled = false;
        }
        operationsDropDown += formatFilterOperation(key, disabled); + "</option>";
        console.log(key, value);
    }
    operationsDropDown += "</select>"    
    $("#operations").html(operationsDropDown);
    $("#operations").css({"position": "relative"});
    $("#operations").css({"top": "3px"});

    d3.select("#component_name")
            .append("text")
            .text("{{ source_file }}")
            .style("font-size", "20px")
            .attr("fill", "black")
            .style("font-weight", "bold")   
            .style("margin-left", margin.left + "px")
            .style("padding-right", "4px")
            .on("mousemove", function (d) {
                tip.style("left", d3.event.pageX + 10 + "px");
                tip.style("top", d3.event.pageY - 20 + "px");
                tip.style("display", "inline-block");
                tip.html("<center><b>{{source_file}}</b></center>"
                            + "referenceable elements: " + operationsCount
                            + "<br>coverage: " +  coverageCount + " ("
                            + Math.round(coverageCount*100/operationsCount) + "%)"
                            + "<br>total of dependents: " + numOfSystems
                            + "<br>total of source files: " + numOfSourceFiles
                            + "<br>total of relationships (distinct): " + numOfDistinctRelations
                            + "<br>total of relationships: " + totalOfRelations
                            + "<br>total of loc: " + numOfLoc);
            })
            .on("mouseout", function (d) {
                tip.style("display", "none");
            });    

    var blockWidth = 15;
    var blockHeight = 20;   
    var colorTicks = heatmap.ticks().filter(tick => Number.isInteger(tick));

    colorTicks[0] = minCalls;
    colorTicks[colorTicks.length-1] = maxCalls

    var legend = svg.selectAll(".legend")
        .data(colorTicks)
        .enter()
        .append("g")
        .attr("class", "legend")
        .attr("font-size", "14px")
        .attr("font-style", "PT Sans")
        .attr("transform", function(d, i) {
            return ("translate(" + i * blockWidth + ", 0)")
        });     

    legend.append("rect")
        .attr("x", width - colorTicks.length*blockWidth - blockWidth + (blockWidth/4))
        .attr("y", -15)
        .attr("width", blockWidth)
        .attr("height", blockHeight)
        .style("fill", function(d, i) {
            return(heatmap(colorTicks[i]));
        })
        .append("title")
        .text(function(d, i) { return colorTicks[i]; });                   

    legend.append("text")
        .attr("x", (width - colorTicks.length*blockWidth - blockWidth + (blockWidth/4) + (blockWidth/2)))
        .attr("y", (margin.bottom/3 + 3) + blockHeight + 7 -15)
        .text(function(d, i) {
            if((i == 0) || (i == Math.trunc((colorTicks.length)/2))
                    || (i == (colorTicks.length - 1)))
                return colorTicks[i];
        })
        .style("text-anchor", "middle");

    const RELATIONS_LABEL = "Number of relationships:";
    const RELATIONS_LABEL_FONT_SIZE = 14;    

    svg.append("text")
        .attr("x", width - colorTicks.length*blockWidth - RELATIONS_LABEL.length*RELATIONS_LABEL_FONT_SIZE/2)
        .text(RELATIONS_LABEL)       
        .style("font-weight", "bolder")
        .attr("font-size", RELATIONS_LABEL_FONT_SIZE + "px");        

</script>
