
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ system }} Ecosystem</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/d3.v4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
        <style type="text/css">
		    .tooltip {
		        position: absolute;
		        display: none;
		        width: auto;
		        height: auto;
		        background: none repeat scroll 0 0 white;
		        border: 0 none;
		        border-radius: 8px 8px 8px 8px;
		        box-shadow: -3px 3px 15px #888888;
		        color: black;
		        font: 12px sans-serif;
		        padding: 5px;
		        text-align: left;
		        opacity: 0.95;
		    }        	
        </style>
    </head>
    <body>
		<div id="treemap"></div>
    </body>
</html> 
<script type="text/javascript">	
	function mapperPaths(paths) {
		var mapperList = [];
		for(var k in paths) { 
			mapperList.push(k);
		}

		for(var k in paths) { 
			var shortestPath = k
			for(var i = 0; i < mapperList.length; i++)
			{
				if(k.includes(mapperList[i])) {
					if(shortestPath.length > mapperList[i].length) {
						shortestPath = mapperList[i]
					}
				}
			}
			paths[k] = shortestPath	
		}
	}

	function addParents(relations, paths) {
	   	for(var i = 0; i < relations.length; i++) {
	   		relations[i]["parent"] = paths[relations[i]["path"]];
	   	}
	}

	function removeSubdirs(paths) {
	   	parents = [];

	  	for(k in paths) {
	 		if(k === paths[k])
	 			parents[k] = 0; 		
	  	}

	  	return parents;
	}

	var relations = {{ relations|safe }}
	console.log(relations)
	
	// set the dimensions and margins of the graph
	var margin = {top: 10, right: 10, bottom: 10, left: 10},
 	width = getWidth() - margin.left - margin.right - 20;
  	height = getHeight() - margin.top - margin.bottom - 20;

	// append the svg object to the body of the page
	var svg = d3.select("#treemap")
				.append("svg")
	  			.attr("width", width + margin.left + margin.right)
	  			.attr("height", height + margin.top + margin.bottom)
				.append("g")
	  			.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var paths = {{ paths|safe }}
	mapperPaths(paths);
	console.log(paths);
	addParents(relations, paths);
	var parents = removeSubdirs(paths);

	var maxPathStrLength = 0
    for(var k in parents) { 
        var info = {
            "id": k,
            "parent": "{{ system }}"
        };
        relations.unshift(info) 
        if(maxPathStrLength < k.length)
        	maxPathStrLength = k.length; 
    }	  			

   	console.log(relations);

	relations.unshift({"id":"{{ system }}"}); 

	// stratify the data: reformatting for d3.js
  	var root = d3.stratify()
				.id(function(d) { return d.id; })
			    .parentId(function(d) { return d.parent; })
			    (relations);

	console.log(maxPathStrLength)

	root.sum(function(d) { return d.operations + maxPathStrLength; })   // Compute the numeric value for each entity

	// Then d3.treemap computes the position of each element of the hierarchy
	// The coordinates are added to the root object above
	d3.treemap()
		.size([width, height])
    	.paddingTop(22)
    	.paddingRight(6)
    	.paddingInner(1)      // Padding between each rectangle 
	    //.padding(1)
	    //.paddingOuter(2)
	    .round(true)  		
		(root)

	console.log(root.leaves())

	var minCount = d3.min(root.leaves(), function(d) {
		if(d.data.count != 0)
			return d.data.count;
	});

	var maxCount = d3.max(root.leaves(), function(d) {
		return d.data.count;
	});

	var heatmap = d3.scaleLinear()
		.domain([0, minCount, maxCount])
	    .range(["gray", "blue", "red"])

	var tip = d3.select("#treemap")
		.append("div")
        .attr("class", "tooltip");

	// use this information to add rectangles:
	svg.selectAll("rect")
		.data(root.leaves())
		.enter()
		.append("a")
			.attr("xlink:href", function(d) {
				if(d.data.url)
					return d.data.url; 
			})
		.append("rect")
			.attr('x', function (d) { return d.x0; })
			.attr('y', function (d) { return d.y0; })
			.attr('width', function (d) { return d.x1 - d.x0; })
			.attr('height', function (d) { return d.y1 - d.y0; })
			//.style("stroke", "black")
			.style("fill", function(d) {
				return heatmap(d.data.count);
			})
			//.append("title")
			//.text(function(d) { return d.data.fullpath; });
            .on("mousemove", function (d) {
                tip.style("left", d3.event.pageX + 10 + "px");
                tip.style("top", d3.event.pageY - 20 + "px");
                tip.style("display", "inline-block");
                tip.html("<center><b>" + d.data.source + "</b></center>"
                			+ d.data.fullpath
                			+ "<br>operations: " + d.value 
                			+ "<br>relations: " + d.data.count);
            })
            .on("mouseout", function (d) {
                tip.style("display", "none");
            });		

	// and to add the text labels
	// svg.selectAll("text")
	// 	.data(root.leaves())
	// 	.enter()
	// 	.append("text")
	// 		.attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
	// 		.attr("y", function(d){ return d.y0+12})    // +20 to adjust position (lower)
	// 		.text(function(d){ return d.data.source + ": " + d.data.count})
	// 		.attr("font-size", "15px")
	// 		.attr("fill", "white")

	svg.append("text")
		  .attr("x", 0)
		  .attr("y", 14)    // +20 to adjust position (lower)
		  .text("{{ system }} Ecosystem")
		  .attr("font-size", "24px")
		  .attr("fill", "black")
		  .style("font-weight", "bold") 

	svg.selectAll("titles")
		.data(root.descendants().filter(function(d){return d.depth==1}))
		.enter()
		.append("text")
		  .attr("x", function(d){ return d.x0})
		  .attr("y", function(d){ return d.y0+17})
		  .text(function(d){ return d.data.id })
		  .attr("font-size", "17px")
		  .attr("fill", "black");   

	var blockWidth = 15;
	var blockHeight = 20;	
	var colorTicks = heatmap.ticks(); //(6);
	console.log(colorTicks);

	colorTicks.splice(0, 2);	
	colorTicks = [0, minCount].concat(colorTicks);
	colorTicks.push(maxCount);

	console.log(colorTicks);

	var legend = svg.selectAll(".legend")
		.data(colorTicks)
		.enter()
		.append("g")
		.attr("class", "legend")
		.attr("font-size", "14px")
		.attr("font-style", "PT Sans")
		.attr("transform", function(d, i) {
			return ("translate(" + i * blockWidth + ", 0)")
		});	    

  	legend.append("rect")
		.attr("x", width - colorTicks.length*blockWidth - blockWidth + (blockWidth/4))
		.attr("y", 0)
		.attr("width", blockWidth)
		.attr("height", blockHeight)
		.style("fill", function(d, i) {
		    return(heatmap(colorTicks[i]));
		})
		.append("title")
		.text(function(d, i) { return colorTicks[i]; });		           

  	legend.append("text")
        .attr("x", (width - colorTicks.length*blockWidth - blockWidth + (blockWidth/2)))
        .attr("y", (margin.bottom/3 + 3) + blockHeight + 7)
        .text(function(d, i) {
        	if((i == 0) || (i == 1) || (i == 3)
        			|| (i == Math.trunc((colorTicks.length)/2))
        			|| (i == (colorTicks.length - 1)))
 				return colorTicks[i];
        })
        .style("text-anchor", "middle");

    const RELATIONS_LABEL = "Number of relationships:";
    const RELATIONS_LABEL_FONT_SIZE = 14;    

    svg.append("text")
        .attr("x", width - colorTicks.length*blockWidth - RELATIONS_LABEL.length*RELATIONS_LABEL_FONT_SIZE/2)
        .attr("y", 15)
        .text(RELATIONS_LABEL)       
        .style("font-weight", "bolder")
        .attr("font-size", RELATIONS_LABEL_FONT_SIZE + "px");  

</script>
