<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ source_file }}</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/3rdparty/d3.v4.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    </head>
    <body>
		<div id="treemap"></div>
    </body>
</html>

<script type="text/javascript">
	var relations = {{ relations|safe }};
	var source_file = "{{ source_file }}"
    var from_systems = {{ from_systems|safe }}
    console.log(relations)
	console.log(from_systems)

    // set the dimensions and margins of the graph
    var margin = {top: 10, right: 10, bottom: 10, left: 10},
    width = getWidth() - margin.left - margin.right - 20,
    height = getHeight() - margin.top - margin.bottom - 20;

    // append the svg object to the body of the page
    var svg = d3.select("#treemap")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    for(var k in from_systems) { 
        var info = {
            "id": from_systems[k],
            "from": "",
            "code": "",
            "count": 0,
            "system": "root"
        };
        relations.unshift(info)   
    }

    relations.unshift({"id":"root", "from":"",
                    "code":"", "count":0, "system":"",})     

    // stratify the data: reformatting for d3.js
    var root = d3.stratify()
                .id(function(d) { return d.id; })   // Name of the entity (column name is name in csv)
                .parentId(function(d) { return d.system; })   // Name of the parent (column name is parent in csv)
                (relations);
    
    root.sum(function(d) { return d.count })   // Compute the numeric value for each entity

    // Then d3.treemap computes the position of each element of the hierarchy
    // The coordinates are added to the root object above
    d3.treemap()
    .size([width, height])
    .paddingTop(28)
    .paddingRight(7)
    .paddingInner(2)      // Padding between each rectangle          
    (root)

    console.log(root.leaves())

    // use this information to add rectangles:
    svg.selectAll("rect")
    .data(root.leaves())
    .enter()
    .append("a")
        .attr("xlink:href", function(d) {
            return "http://127.0.0.1:5000" + d.data.url; })    
    .append("rect")
        .attr('x', function (d) { return d.x0; })
        .attr('y', function (d) { return d.y0; })
        .attr('width', function (d) { return d.x1 - d.x0; })
        .attr('height', function (d) { return d.y1 - d.y0; })
        .style("stroke", "black")
        .style("fill", function(d) {
            if(d.value > 3) {
                return "rgb(" + (d.value * 40) + ", 0, 0)";
            }
            else if(d.value > 1) {
                return "rgb(0, " + (d.value * 80) + ", 0)";  
            }
            else {
                return "rgb(0, 0," + (d.value * 255) + ")";
            }
        })
        .append("title")
        .text(function(d) { return d.data.from; });

    // and to add the text labels
    svg.selectAll("text")
    .data(root.leaves())
    .enter()
    .append("text")
        .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
        .attr("y", function(d){ return d.y0+14})    // +20 to adjust position (lower)
        .text(function(d){ return d.data.from + ": " + d.value})
        .attr("font-size", "15px")
        .attr("fill", "black")    

     // Add title for groups
      svg.selectAll("titles")
        .data(root.descendants().filter(function(d){return d.depth==1}))
        .enter()
        .append("text")
          .attr("x", function(d){ return d.x0})
          .attr("y", function(d){ return d.y0+21})
          .text(function(d){ return d.data.id })
          .attr("font-size", "19px")
          .attr("fill", "black");

      // Add title for the 3 groups
      svg.append("text")
          .attr("x", 0)
          .attr("y", 14)    // +20 to adjust position (lower)
          .text("{{ source_file }}")
          .attr("font-size", "20px")
          .attr("fill", "black")
          .style("font-weight", "bold")           
</script>